.idea/
.github/
config/
coverage/
demo/
doc/
node_modules/
spec/
src/
*.txt
*.log
*.yml
*.opts
.babelrc
.eslintrc
.editorconfig
.gitattributes
.npmignore
.travis.yml
jsdoc.json
karma.conf.js
package-lock.json
webpack.config.js
yarn.lock
