.bb .bb-button, .bb text {
    font-size: 11px;
}

.hide {
    display: none;
}

#display_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regions_class1{
    fill: red;
}

.eval-text-size .bb-axis-x text {
	font-size: 20px;
}

.eval-text-size .bb-axis-y text {
	font-size: 35px;
}

.eval-text-size .bb-axis-y2 text {
	font-size: 30px;
}