.bb .bb-button, .bb text {
    font-size: 11px;
}

.hide {
    display: none;
}

#display_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regions_class1{
    fill: red;
}