.bb-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em;
}

.bb-chart-arcs {
  .bb-chart-arcs-background {
    fill: #e0e0e0;
    stroke: none;
  }

  .bb-chart-arcs-gauge-unit {
    fill: #000;
    font-size: 16px;
  }

  .bb-chart-arcs-gauge-max {
    fill: #777;
  }

  .bb-chart-arcs-gauge-min {
    fill: #777;
  }
}

.bb-chart-arc .bb-gauge-value {
  fill: #000;
}
