.bb-chart-radars {
  .bb-levels {
    polygon {
      fill: none;
      stroke: #848282;
      stroke-width: .5px;
    }

    text {
      fill: #848282;
    }
  }

  .bb-axis {
    line {
      stroke: #848282;
      stroke-width: .5px;
    }

    text {
      font-size: 1.15em;
      cursor: default;
    }
  }

  .bb-shapes {
    polygon {
      fill-opacity: .2;
      stroke-width: 1px;
    }
  }
}
